:root {
  --green-100: #00b37e;
  --green-200: #00875f;

  --neutral-100: #ffffff;
  --neutral-200: #e1e1e6;
  --neutral-300: #c4c4cc;
  --neutral-400: #8d8d99;
  --neutral-500: #7c7c8a;
  --neutral-600: #323238;
  --neutral-700: #202024;
  --neutral-800: #121214;

  --color-red-100: #f75a68;
}