#post {
  padding: 2.5rem;
  background-color: var(--neutral-700);
  border-radius: 0.5rem;
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.post__author {
  align-items: center;
  gap: 1rem;
}

.post__author-info {
  display: grid;
  align-items: center;
}

.post__author-avatar {
  width: 3.75rem;
  height: 3.75rem;
  border: 4px solid var(--neutral-700);
  outline: 2px solid var(--green-100);
  border-radius: 0.5rem;
}

.post__author-name {
  color: var(--gray-100);
  line-height: 160%;
}

.post__author-role {
  color: var(--neutral-400);
  font-size: 0.875rem;
  line-height: 160%;
}

.post__time {
  font-size: 0.875rem;
  color: var(--neutral-400);
}

.post__content {
  display: grid;
  gap: 2rem;
}

.post__link,
.post__hashtag {
  font-weight: 700;
  color: var(--green-200);
  justify-self: flex-start;
}

.post__comment-form {
  display: grid;
  justify-items: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--neutral-600);
}

.post__comment-form:focus-within .comment-form__submit-btn {
  visibility: visible;
  max-height: initial;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

.comment-form__textarea {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  min-height: 6rem;
  max-height: 8rem;
  padding: 1rem;
  background-color: var(--neutral-800);
  border: none;
  border-radius: 0.5rem;
  resize: vertical;
}

.comment-form__textarea:hover {
  outline: 2px solid var(--green-200);
}

.comment-form__submit-btn {
  border-radius: 0.5rem;
  background-color: var(--green-200);
  visibility: hidden;
  max-height: 0;
  margin-bottom: 1rem;
  transition: background 0.1s;
}

.comment-form__submit-btn:hover {
  background-color: var(--green-100);
}
